#A{
    border: 2px solid rgb(0, 0, 0);
}
#a{
    height: 50px;
    border: 2px solid rgb(255, 255, 255);
}
#a1{
    height: 50px;
    background: blue;
}
#a2{
    height: 50px;
    background: red;
}
#b{
    height: 50px;
    background: yellow;
}
#b1{
    height: 50px;
    background:blue;
}
#c{
    height: 50px;
    background: rgb(129, 247, 255);
}

#c1{
    height: 50px;
    border: 2px solid rgb(255, 255, 255);
}

#d{
    height: 50px;
    background: rgb(0, 0, 0);
}

#d1{
    height: 50px;
    background: rgb(255, 0, 0);
}

#d2{
    height: 50px;
    background: yellow;
}

#v{
    height: 50px;
    border: 2px solid rgb(255, 255, 255);
}

#v1{
    height: 50px;
    background: rgb(25, 150, 0);
}
#v2{
    height: 50px;
    background: red;
}
#q{
    height: 50px;
    background: red;
}
#q1{
    height: 50px;
    background: yellow;
}

#w{
    height: 50px;
    background: red;
}

#w1{
    height: 50px;
    background: rgb(255, 255, 255);
}

#w2{
    height: 50px;
    background: rgb(0, 0, 0);
}


#q1{
    height: 50px;
    background: yellow;
}
#q1{
    height: 50px;
    background: yellow;
}

#q1{
    height: 50px;
    background: yellow;
}

#q1{
    height: 50px;
    background: yellow;
}
#q1{
    height: 50px;
    background: yellow;
}
#q1{
    height: 50px;
    background: yellow;
}
#q1{
    height: 50px;
    background: yellow;
}
#q1{
    height: 50px;
    background: yellow;
}
#q1{
    height: 50px;
    background: yellow;
}
